<!DOCTYPE html>
<html lang="en">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<%- include("./partials/head") %>


  <body>
    <!-- Se modifica para que no direccione a Autos -(Catalogo 1)     ***   -->
    <%- include("./partials/headerMain") %>
        <%- include("./partials/navbar2") %>
      <main>
        <%- include("./partials/carousel") %>

        <nav class="index_nav_container">
          <section class="index_section_article_caja">
            <article>
              <div class="wrap1">
                <div class="wrap-text">
                  <h1>Texto Superpuesto</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perferendis incidunt consequatur nam
                    adipisci quae sint temporibus eligendi atque aspernatur.</p>
                  <button>CONOCE MÁS</button>
                </div>
            </article>
          </section>

          <div class="wrap-text-descktop">
            <h1>DISEÑO KODO - ALMA DEL MOVIMIENTO</h1>
            <p>Trabajamos incansablemente por transmitir vida e identidad a nuestros diseños,  para otorgarle alma a nuestros vehículos. Queremos que cuando veas un Mazda y observes sus reflejos cambiantes que atrapan la luz y transmiten velocidad, gracia y poder,  evoques sentimientos como los que genera apreciar la belleza de una obra de arte..</p>
            <button>CONOCE MÁS</button>
          </div>

          <section class="index_section_article_caja">
            <article>

              <div class="wrap2">
                <div class="wrap-text">
                  <h1>DISEÑO IN­TERI­OR: 
                    EXPRESIÓN PURA DE CALIDAD</h1>
                  <p>Creamos un entorno envolvente al interior de nuestros vehículos que fomenta un vínculo entre el conductor y su automóvil. Nos enorgullece generar espacios que destacan por su elegancia y confort, en los que predomina una armonía perfecta entre lo emocional y racional.</p>
                  <button>CONOCE MÁS</button>
                </div>

            </article>

          </section>
          <div class="wrap-text-descktop">
            <h1>DISEÑO IN­TERI­OR: 
              EXPRESIÓN PURA DE CALIDAD</h1>
            <p>Creamos un entorno envolvente al interior de nuestros vehículos que fomenta un vínculo entre el conductor y su automóvil. Nos enorgullece generar espacios que destacan por su elegancia y confort,
               en los que predomina una armonía perfecta entre lo emocional y racional.</p>
            <button>CONOCE MÁS</button>
          </div>
          <section class="index_section_article_caja">
            <article>
              <div class="wrap3">
                <div class="wrap-text">
                  <h1>Texto Superpuesto</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perferendis incidunt consequatur nam
                    adipisci quae sint temporibus eligendi atque aspernatur.</p>
                  <button>CONOCE MÁS</button>
                </div>
            </article>
          </section>

          <div class="wrap-text-descktop">
            <h1>DE DEMOSTRACIÓN EN LE MANS CLASSIC 2022</h1>
            <p>Después de casi una década, el emblemático ejemplar de la marca que marcó la historia convirtiéndose en el primer automóvil americano en coronarse en la cima de Le Man en 1991, deleitará con su potencia a los fanáticos del deporte a motor durante la competencia de talla mundial.</p>
            <button>CONOCE MÁS</button>
          </div>
        </nav>
        

        <section>
          <H2 class="index_marca_h2">Nuestra alianza con Marcas</H2>
          <article class="marcas_container">
            <ul class="marca_caja">
              <li><a href=""><img src="/img/MARCA1.PNG"></a></li>
            </ul>
            <ul class="marca_caja">
              <li><a href=""><img src="/img/MARCA2.PNG"></a></li>
            </ul>
            <ul class="marca_caja">
              <li><a href=""><img src="/img/MARCA3.PNG"></a></li>
            </ul>
            <ul class="marca_caja">
              <li><a href=""><img src="/img/MARCA5.PNG"></a></li>
            </ul>
            <ul class="marca_caja">
              <li><a href=""><img src="/img/MARCA4.PNG"></a></li>
            </ul>
          </article>
        </section>
        
      </main>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <%- include("./partials/footer") %>
  </body>
</html>